Data Document PRPC Track2- GE APM Ver.01 - zarif.csv
Data Document PRPC Track2- GE APM Ver.01 - zarif.xlsx
PETRONAS Data Standard - All -  July 2023.xlsx
PETRONAS Data Standard - All -  July 2023.csv
Data Document PRPC - UNoMS.xlsx
Data Dictionary_PCG-APM_Project Odyssey.final.xlsx